/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body {
    background-image: url('/assets/img/ocean.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Additional global styles can go here */
  